node_modules
.next
.vscode
.DS_Store
dist
build
npm-debug.log
yarn-error.log
.pnp
.pnp.js
.git
.gitignore
.env
.env.local
.env.development
.env.test
Dockerfile*
docker-compose*.yml
coverage
*.log
.idea
*.tgz
