# ====================================
# Python (server)
# ====================================
server/__pycache__/
server/*.pyc
server/*.pyo
server/*.pyd

# Env files
server/.env
.env
.env.*

# Python venv
venv/
.env/
.venv/

# Poetry
.poetry/

# ====================================
# Node (client)
# ====================================
client/node_modules/
client/dist/
client/build/
client/.env

# ====================================
# System files
# ====================================
.DS_Store
Thumbs.db
